<% if logged_in? %>
    <div class="row">
      <aside class="col-md-4">
        <section class="user_info">
          <%= link_to gravatar_for(current_user, size: 50), current_user %>
          <h1><%= current_user.name %></h1>
          <span><%= link_to "view my profile", current_user %></span>
          <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
        </section>
        <section class="stats">
          <% @user ||= current_user %>
          <div class="stats">
            <a href="<%= following_user_path(@user) %>">
              <strong id="following" class="stat">
                <%= @user.following.count %>
              </strong>
              following
            </a>
            <a href="<%= followers_user_path(@user) %>">
              <strong id="followers" class="stat">
                <%= @user.followers.count %>
              </strong>
              followers
            </a>
          </div>
        </section>
        <section class="micropost_form">
          <%= form_for(@micropost, html: { multipart: true }) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="field">
                <%= f.text_area :content, placeholder: "Compose new micropost..." %>
              </div>
              <%= f.submit "Post", class: "btn btn-primary" %>
              <span class="picture">
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
          </span>
          <% end %>
        </section>
      </aside>
      <div class="col-md-8">
        <h3>Micropost Feed</h3>
        <%= render 'shared/feed' %>
      </div>
    </div>
<% else %>
    <div class="center jumbotron">
      <h1>Welcome to the Test App</h1>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>

    <%= link_to image_tag("rails.png", alt: "Rails logo"),
                'http://rubyonrails.org/' %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
